apiVersion: wavefront.com/v1alpha1
kind: Wavefront
metadata:
  name: wavefront-sample
spec:
  collectorEnabled: true
  clusterName: YOUR_CLUSTER_NAME
  proxyUrl: "https://fakeproxy.com"
  wavefrontProxyEnabled: true
  wavefrontToken: YOUR_WAVEFRONT_TOKEN
  wavefrontUrl: "https://nimba.wavefront.com"